/*
!.gitignore
!docker-compose.yml
!data_nginx/*
!data_sonar/*

!data_jenkins/
data_jenkins/*
!data_jenkins/*.xml

!data_jenkins/users
!dockerfiles/

!data_jenkins/jobs/
data_jenkins/jobs/*
!data_jenkins/jobs/moonshine
data_jenkins/jobs/moonshine/*
!data_jenkins/jobs/moonshine/*.xml

!data_registry
data_registry/*

!data_hygieia
data_hygieia/*
