version: '3'
volumes:
  data-jenkins:
  sonar_plugins:
  sonar_data:
  sonar_conf:
  postgresql:
  postgresql_data:
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 80:80
    depends_on:
     - jenkins
      # - hygieia-ui
     - sonarqube
    volumes:
      - ./data_nginx:/etc/nginx/conf.d:ro
  sonarqube:
    image: sonarqube:6.2
    container_name: sonarqube
    command: -Dsonar.web.context=/sonarqube
    depends_on:
      - sonar-plugins
      - sonar-db
    environment:
      - SONARQUBE_JDBC_URL=jdbc:postgresql://sonar-db:5432/sonar
    volumes:
      - sonar_plugins:/opt/sonarqube/extensions/plugins
      - sonar_conf:/opt/sonarqube/conf
      - sonar_data:/opt/sonarqube/data
  sonar-plugins:
    build:
      context: ./data_sonar/plugins
    container_name: sonar_plugins
    volumes:
      - sonar_plugins:/opt/sonarqube/extensions/plugins
  sonar-db:
    image: postgres
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
  jenkins:
    build:
      context: .
      dockerfile: ./dockerfiles/jenkins/Jenkins.Dockerfile
    container_name: jenkins
    volumes:
      - data-jenkins:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JENKINS_OPTS="--prefix=/jenkins"
      - DOCKER_SOCKET=/var/run/docker.sock

#  mongodb:
#    image: mongo:latest
#    container_name: hygieia-db
#    command: mongod --smallfiles
#    networks:
#      - cinet
#    # ports:
#    #   - "27017:27017"
#    volumes:
#      - ./data_hygieia/mongo:/data/db:rw
#  hygieia-api:
#    image: capitaloneio/hygieia-api:latest
#    container_name: hygieia-api
#    # ports:
#    #   - "8080:8080"
#    networks:
#      - cinet
#    volumes:
#      - ./data_hygieia/logs:/hygieia/logs
#    depends_on:
#      - mongodb
#    links:
#      - mongodb:mongo
#    environment:
#      SPRING_DATA_MONGODB_HOST: mongo
#      SPRING_DATA_MONGODB_PORT: 27017
#      SPRING_DATA_MONGODB_DATABASE: dashboard
#      SPRING_DATA_MONGODB_USERNAME: mongo
#      SPRING_DATA_MONGODB_PASSWORD: mongo
#  hygieia-ui:
#    image: capitaloneio/hygieia-ui:latest
#    container_name: hygieia-ui
#    networks:
#      - cinet
#    depends_on:
#      - hygieia-api
#    environment:
#      HYGIEIA_API_PORT: http://hygieia-api:8080
#  hygieia-github-scm-collector:
#    image: capitalone/hygieia-github-scm-collector:latest
#    container_name: hygieia-github
#    volumes:
#      - ./data_hygieia/github/logs:/hygieia/logs
#    links:
#      - mongodb:mongo
#    networks:
#      - cinet
#    depends_on:
#      - mongodb
#    environment:
#      GITHUB_HOST: github.com
#      GITHUB_CRON: 0 0/5 * * * *
#      GITHUB_COMMIT_THRESHOLD_DAYS: 30
#      MONGO_PORT: http://mongo:27017
#      HYGIEIA_API_ENV_SPRING_DATA_MONGODB_USERNAME: mongo
#      HYGIEIA_API_ENV_SPRING_DATA_MONGODB_PASSWORD: mongo
#  hygieia-jenkins-build-collector:
#    image: capitalone/hygieia-jenkins-build-collector:latest
#    container_name: hygieia-jenkins
#    volumes:
#      - ./data_hygieia/jenkins/logs:/hygieia/logs
#    links:
#      - mongodb:mongo
#    networks:
#      - cinet
#    depends_on:
#      - mongodb
#      - jenkins
#      - nginx
#    extra_hosts:
#      - "jenkins.quantion.com:10.10.1.20"
#    environment:
#      JENKINS_MASTER: http://jenkins.quantion.com
#      #JENKINS_OP_CENTER: http://admin:81cd95a5e3b475530f4f1e369770cbd3@jenkins:8080
#      JENKINS_USERNAME: admin
#      JENKINS_API_KEY: 81cd95a5e3b475530f4f1e369770cbd3
#      JENKINS_CRON: 0 1/6 * * * *
#      JENKINS_SAVELOG: "false"
#      MONGO_PORT: http://mongo:27017
#      HYGIEIA_API_ENV_SPRING_DATA_MONGODB_USERNAME: mongo
#      HYGIEIA_API_ENV_SPRING_DATA_MONGODB_PASSWORD: mongo
#  hygieia-sonar-codequality-collector:
#    image: capitalone/hygieia-sonar-codequality-collector:latest
#    container_name: hygieia-sonar-codequality
#    networks:
#      - cinet
#    depends_on:
#      - mongodb
#      - sonarqube
#    volumes:
#      - ./logs:/hygieia/logs
#    links:
#      - mongodb:mongo
#      - hygieia-api
#    environment:
#      SONAR_CRON: 0 2/7 * * * *
#      SONAR_URL: http://sonarqube:9000
#      MONGO_PORT: http://mongo:27017
#      HYGIEIA_API_ENV_SPRING_DATA_MONGODB_USERNAME: mongo
#      HYGIEIA_API_ENV_SPRING_DATA_MONGODB_PASSWORD: mongo
