<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Guillermo</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>4Im16u/xGy79rxTkDH3xnHcjRHLIAhFih0UwJtxXlBPx5pB++TbXtWRCHfkG6RxM14JNEHoQhXRZA8rWME3D6CXBEy4kp2rLW/SxkkTn7R4=</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$YbT/9rhWwrgQd6gdEBqqGOzGO9rJi.tHGt9t1IZ6ureDtM0J.HkgW</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1476954677043</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>